@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing: border-box;
}

body{
    
    background-color: tomato;
    border-radius: 10px;
    font-family: 'Muli',sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container{
    
    display: flex;
    width: 90vw;
   
}

.panel{
    
    background-size: cover;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 10px;
    flex: 0.5;
    position: relative;
    color: white;
    cursor: pointer;
    transition:  flex 0.3s ease-in ;
    margin: 20px;

}
.panel h3{
    
    position: absolute;
    bottom: 20px;
    left: 40px;
    margin: 0;
    opacity: 0;
}

.panel.active{
    flex: 3;
    transition: opacity 0.1s ease-in 0.1s ;
    
    
}


.panel.active h3{
    opacity: 1;
}

@media(max-width:480px){
    .container{
        width: 100vw;
        
    }
    .panel:nth-of-type(4),.panel:nth-of-type(5){
        display: none;
    }
}